################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DevopsTest/bin
/DevopsTest/obj
/DevopsTest.Tests/bin/Debug
/DevopsTest.Tests/obj
/packages
